@using HelpDeskApp.Models
@model Users
@{
    ViewData["Title"] = "Login page";
}

<h1 class="text-center p-2">Login</h1>
<div class="row login-row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Login", "Users", FormMethod.Post))
        {
            <div class="row justify-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Login)</p>
                        <label>Login </label>
                        @Html.TextBoxFor(m => m.Login, "", new { @class = "form-control", @placeholder = "", @id = "Login" })
                    </div>
                </div>
            </div>

            <div class="row justify-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Password)</p>
                        <label>Password </label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
            </div>

            <div class="row justify-center">
                <div>
                    <button type="submit" class="btn main-btn text-white">Save</button>
                </div>
            </div>
        }
    </div>
</div>